<%= form_tag({action: 'result'}, remote: true) do %>
  <%= select_tag(:publish, options_from_collection_for_select(@books, :publish, :publish, '技術評論社')) %>
  <%= submit_tag '検索' %>
  <span id="progress"></span>
<% end %>

<!-- 結果表示のために領域確保 -->
<ul id="result"></ul>